@import "tailwindcss";
@plugin "@tailwindcss/typography";

.prose table,
.prose thead,
.prose tbody,
.prose tr {
  border: 0;
}

.prose th,
.prose td {
  border: 0;
}

.prose thead th {
  border-bottom: 0;
}

.prose table td {
  padding: 0.2rem 0.5rem;
}

.prose table tr:first-child td {
  padding-bottom: 0.1rem;
}

.prose table tr:last-child td {
  padding-top: 0.1rem;
}

.prose table p {
  margin: 0;
}

.prose table img {
  margin: 0;
  display: block;
}
